.arrow svg {
  --width: 10px;
  fill: var(--theme-splitter-color);
  transition: transform 0.125s ease;
  width: var(--width);
}

html:not([dir="rtl"]) .arrow svg {
  margin-right: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg {
  margin-left: 5px;
  transform: rotate(90deg);
}

.arrow.expanded.expanded svg {
  transform: rotate(0deg);
}
