/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree {
  overflow: auto;
}

.tree.inline {
  display: inline-block;
}

.tree.nowrap {
  white-space: nowrap;
}

.tree.noselect {
  user-select: none;
}

.tree button {
  display: block;
}

.tree .tree-node {
  display: flex;
}

.tree .tree-node:not(.focused):hover {
  background-color: var(--theme-selection-background-hover);
}

.tree-indent {
  display: inline-block;
  width: 12px;
  margin-inline-start: 5px;
  border-inline-start: 1px solid #A2D1FF;
  flex-shrink: 0;
}

/* Align with expandables siblings (where we have the arrow) */
.tree-node[data-expandable="false"] .tree-indent:last-of-type {
  margin-inline-end: 15px;
}

/* For non expandable root nodes, we don't have .tree-indent elements, so we declare
   the margin on the start of the node */
.tree-node[data-expandable="false"][aria-level="0"] {
  padding-inline-start: 15px
}

.tree .tree-node[data-expandable="true"] {
  cursor: default;
}

.tree .tree-node.focused {
  color: white;
  background-color: var(--theme-selection-background, #0a84ff);
}

.tree-node.focused .arrow svg {
  fill: currentColor;
}

.tree-node:hover img {
  background-color: var(--theme-content-color3);
}

.arrow svg {
  fill: var(--theme-splitter-color, #9B9B9B);
  transition: transform 0.125s ease;
  width: 10px;
  margin-inline-end: 5px;
  transform: rotate(-90deg);
}

html[dir="rtl"] .arrow svg,
.arrow svg:dir(rtl),
.arrow svg:-moz-locale-dir(rtl) {
  transform: rotate(90deg);
}

.arrow.expanded.expanded svg {
  transform: rotate(0deg);
}
