/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.CodeMirror {
  width: 50vw;
  height: 300px;
  margin: calc(50% - 300px) auto;
  border: 1px solid #ccc;
}
