.landing-page {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
  /* Customs properties */
  --title-font-size: 24px;
  --ui-element-font-size: 16px;
  --primary-line-height: 30px;
  --secondary-line-height: 25px;
  --base-spacing: 20px;
}

.landing-page .sidebar {
  display: flex;
  background-color: var(--theme-tab-toolbar-background);
  width: 200px;
  flex-direction: column;
}

.landing-page .sidebar h1 {
  color: var(--theme-body-color);
  font-size: var(--title-font-size);
  margin: 0;
  line-height: var(--primary-line-height);
  font-weight: normal;
  padding: calc(2 * var(--base-spacing)) var(--base-spacing);
}

.landing-page .sidebar ul {
  list-style: none;
  padding: 0;
  line-height: var(--primary-line-height);
  font-size: var(--ui-element-font-size);
}

.landing-page .sidebar li {
  padding: calc(var(--base-spacing) / 4) var(--base-spacing);
}

.landing-page .sidebar li.selected {
  background: var(--theme-search-overlays-semitransparent);
  transition: all 0.25s ease;
}

.landing-page .sidebar li:hover {
  background: var(--theme-selection-background);
  cursor: pointer;
}

.landing-page .sidebar li a {
  color: var(--theme-body-color);
}

.landing-page .sidebar li:hover a {
  color: var(--theme-selection-color);
}

.landing-page .panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 var(--base-spacing);
  justify-content: space-between;
}

.landing-page .panel .title {
  margin: calc(2 * var(--base-spacing)) 0 0;
  padding-bottom: var(--base-spacing);
  font-size: var(--title-font-size);
  border-bottom: 1px solid var(--theme-splitter-color);
  color: var(--theme-body-color);
  font-weight: normal;
}

.landing-page .panel .center-message {
  font-size: var(--ui-element-font-size);
  line-height: var(--secondary-line-height-line-height);
  padding: calc(var(--base-spacing) / 2);
}

.landing-page .center a {
  color: var(--theme-highlight-bluegrey);
  text-decoration: none;
}

.landing-page .tab-group {
  flex: 1;
  overflow-y: auto;
}

.landing-page .tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.landing-page .tab {
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2) 0;
  font-family: sans-serif;
}

.landing-page .tab:hover {
  background-color: var(--theme-toolbar-background);
  cursor: pointer;
}

.landing-page .tab-title {
  line-height: var(--secondary-line-height-line-height);
  font-size: var(--ui-element-font-size);
  color: var(--theme-highlight-bluegrey);
  word-break: break-all;
}

.landing-page .tab-url {
  color: var(--theme-comment);
  word-break: break-all;
}

.landing-page .panel .footer-note {
  padding: var(--base-spacing) 0;
  text-align: center;
  font-size: 14px;
  color: var(--theme-comment);
}
