/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.landing-page {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-items: stretch;
  /* We inherit 11px from common.css; reset to 16 */
  font-size: 16px;
  /* Customs properties */
  --small-font-size: 14px;
  --sidebar-width: 200px;
  --title-font-size: 24px;
  --ui-element-font-size: 16px;
  --primary-line-height: 22px;
  --secondary-line-height: 24px;
  --base-spacing: 20px;
  --base-transition: all 0.25s ease;
}

@media (max-width: 500px) {
  .landing-page {
    --sidebar-width: auto;
    flex-direction: column;
  }
}

.landing-popup {
  min-width: 0;
}

.landing-page button {
  background-color: var(--theme-tab-toolbar-background);
  color: var(--theme-comment);
  font-size: var(--ui-element-font-size);
  border: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2);
  margin: 0 var(--base-spacing);
  transition: var(--base-transition);
  cursor: pointer;
}
