:root {
  font-size: 14px;
}

:root.theme-light,
:root .theme-light {
  --codemirror-gutter-background: #f4f4f4;
}

:root.theme-dark,
:root .theme-dark {
  --codemirror-gutter-background: #262b37;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mount {
  display: flex;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(113, 113, 113, 0.5);
}

:root.theme-dark .CodeMirror-scrollbar-filler {
  background: transparent;
}
