/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.landing-page .sidebar {
  --sidebar-width: 200px;
  display: flex;
  background-color: var(--theme-tab-toolbar-background);
  width: var(--sidebar-width);
  flex-direction: column;
  border-right: 1px solid var(--theme-splitter-color);
}

.landing-page .sidebar h1 {
  color: var(--theme-body-color);
  font-size: var(--title-font-size);
  margin: 0;
  line-height: var(--primary-line-height);
  font-weight: bold;
  padding: var(--base-spacing) var(--base-spacing);
}

.landing-page .sidebar ul {
  list-style: none;
  padding: 0;
  line-height: var(--primary-line-height);
  font-size: var(--ui-element-font-size);
}

.landing-page .sidebar li {
  padding: calc(var(--base-spacing) / 4) var(--base-spacing);
}

.landing-page .sidebar li a {
  color: var(--theme-body-color);
}

.landing-page .sidebar li.selected {
  background: var(--theme-highlight-bluegrey);
  color: var(--theme-selection-color);
  transition: var(--base-transition);
}

.landing-page .sidebar li.selected a {
  color: inherit;
}

.landing-page .sidebar li:hover,
.landing-page .sidebar li:focus {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
  cursor: pointer;
}

.landing-page .sidebar li:hover a,
.landing-page .sidebar li:focus a {
  color: inherit;
}

.landing-page .sidebar li:last-child {
  border-top: 2px solid var(--theme-splitter-color);
  margin: 2px;
}

.landing-page .sidebar .title-wrapper .launchpad-container {
  padding-left: var(--base-spacing);
}

.landing-page
  .sidebar
  .title-wrapper
  .launchpad-container
  .launchpad-container-icon {
  display: inline-block;
}

.landing-page .sidebar .title-wrapper .launchpad-container .rocket svg {
  width: 18px;
  height: 18px;
}

.landing-page
  .sidebar
  .title-wrapper
  .launchpad-container
  .launchpad-container-title {
  display: inline;
  padding-left: 3px;
  font-weight: normal;
}
