.landing-page .sidebar {
  display: flex;
  background-color: var(--theme-tab-toolbar-background);
  width: 200px;
  flex-direction: column;
  border-right: 1px solid var(--theme-splitter-color);
}

.landing-page .sidebar h1 {
  color: var(--theme-body-color);
  font-size: var(--title-font-size);
  margin: 0;
  line-height: var(--primary-line-height);
  font-weight: normal;
  padding: calc(2 * var(--base-spacing)) var(--base-spacing);
}

.landing-page .sidebar ul {
  list-style: none;
  padding: 0;
  line-height: var(--primary-line-height);
  font-size: var(--ui-element-font-size);
}

.landing-page .sidebar li {
  padding: calc(var(--base-spacing) / 4) var(--base-spacing);
}

.landing-page .sidebar li a {
  color: var(--theme-body-color);
}

.landing-page .sidebar li.selected {
  background: var(--theme-highlight-bluegrey);
  color: var(--theme-selection-color);
  transition: var(--base-transition);
}

.landing-page .sidebar li.selected a {
  color: inherit;
}

.landing-page .sidebar li:hover,
.landing-page .sidebar li:focus {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
  cursor: pointer;
}

.landing-page .sidebar li:hover a,
.landing-page .sidebar li:focus a {
  color: inherit;
}
