/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.launchpad-tabs {
  flex: 1;
  overflow-y: auto;
}

.launchpad-tabs .tab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.launchpad-tabs .tab {
  border-bottom: 1px solid var(--theme-splitter-color);
  padding: calc(var(--base-spacing) / 2) var(--base-spacing);
  font-family: sans-serif;
  cursor: pointer;
}

.launchpad-tabs .tab:first-child {
  border-top: 1px solid var(--theme-splitter-color);
}

.launchpad-tabs .tab:hover {
  background-color: var(--theme-toolbar-background-hover);
}

.launchpad-tabs .tab:focus,
.launchpad-tabs .tab.active {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
  transition: var(--base-transition);
}

.launchpad-tabs .tab-sides {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(var(--base-spacing) * 2);
}

.launchpad-tabs .tab-title {
  line-height: var(--secondary-line-height);
  font-size: var(--ui-element-font-size);
  color: var(--theme-highlight-bluegrey);
  word-break: break-all;
}

.launchpad-tabs .tab:focus .tab-title,
.launchpad-tabs .tab.active .tab-title {
  color: inherit;
}

.launchpad-tabs .tab-url {
  margin: 2px 0;
  font-size: var(--small-font-size);
  color: var(--theme-comment);
  word-break: break-all;
}

.launchpad-tabs .tab:focus .tab-url,
.launchpad-tabs .tab.active .tab-url {
  color: var(--theme-highlight-gray);
}

.launchpad-tabs .tab-value {
  color: var(--theme-comment);
  line-height: var(--secondary-line-height);
  font-size: var(--ui-element-font-size);
}
