/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#root .split-box {
  background: #f4f4f4;
  border: 1px solid blue;
  margin: auto;
  width: 50vw;
  height: 50vw;
}

#root .split-box > .splitter {
  border-color: pink;
}
