/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree.object-inspector .object-label,
.tree.object-inspector .object-label * {
  color: var(--theme-highlight-blue);
}

.tree.object-inspector .node .unavailable {
  color: var(--theme-comment);
}

.tree.object-inspector .lessen,
.tree.object-inspector .lessen *,
.tree.object-inspector .lessen .object-label,
.tree.object-inspector .lessen .object-label * {
  color: var(--theme-comment);
}
