/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.tree.object-inspector .node.object-node {
  display: inline-block;
}

.tree.object-inspector .object-label,
.tree.object-inspector .object-label * {
  color: var(--theme-highlight-blue);
}

.tree.object-inspector .node .unavailable {
  color: var(--theme-comment);
}

.tree.object-inspector .lessen,
.tree.object-inspector .lessen *,
.tree.object-inspector .lessen .object-label,
.tree.object-inspector .lessen .object-label * {
  color: var(--theme-comment);
}

.tree.object-inspector .block .object-label,
.tree.object-inspector .block .object-label * {
  color: var(--grey-90, #0c0c0d);
  font-weight: bold;
}

.tree.object-inspector .block .object-label:before {
  content: "☲ ";
}

.object-inspector .object-delimiter {
  color: var(--theme-comment);
}

.tree.object-inspector .arrow svg {
  pointer-events: none;
}
